@font-face {
  font-family: 'MATHERNAL Free';
  src: url('./fonts/yeezy_tstar-bold-webfont.eot');
  src: url('./fonts//yeezy_tstar-bold-webfont.eot?#iefix') format('embedded-opentype'),
      url('./fonts/yeezy_tstar-bold-webfont.woff') format('woff'),
      url('./fonts/yeezy_tstar-bold-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html{
  background-color: rgb(88,83,80);
}
.App {
  text-align: center;
  font-family: 'MATHERNAL Free';
  background-color: rgb(88,83,80);
  color: rgb(35,35,35);
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.btn-primary{
  background-color: rgb(88,83,80) !important;
  border: none;
}
.logo{
  align-self: flex-start;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 5vh;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: right;
  font-size: calc(5px + 2vmin);
  color: white;
}

.App-header .logo {
 margin-right: 65vw;
 padding-left: 20vw;
}

.dropdown-item{
  background-color: rgb(88,83,80);
  color:white;
  min-width: 150px;
  border: none;
}
.panel .panel-default{
  background-color: rgb(35,35,35);
}

.panel{
  min-width: 200px;
}

.dropdown-menu{
  background-color: rgb(88,83,80);
  color:white;
  text-align: left;
}

nav{
  display: flex;
}

.mainstyling{
  display: grid;
  align-items: center;
  justify-content: right;
  padding-right: 10vw;
}

.mainstyling2{
  display: grid;
  align-items: center;
  justify-content: right;
  padding-right: 10vw;
  min-width: 30vw;
}

.panel-default>.panel-heading,
.panel-default>.panel-footer,
.panel-default>.panel-body{
  color:white;
  background-color: rgb(35,35,35);
}


main .showAll{
 display: flex;
 flex-direction: column;
 width:50vw;
}

.fit-btn{
  background-color: rgb(220,220,220);
  padding:10px;
  margin-top: 10px;
  width: 200px;
}

.btnDetails{
  background-color: rgb(35,35,35) !important;
  border-color: rgb(12, 12, 12);
  border-width: 3px;
}

.App-link {
  color: #61dafb;
}
