@font-face {
  font-family: 'MATHERNAL Free';
  src: url('./fonts/yeezy_tstar-bold-webfont.eot');
  src: url('./fonts//yeezy_tstar-bold-webfont.eot?#iefix') format('embedded-opentype'),
      url('./fonts/yeezy_tstar-bold-webfont.woff') format('woff'),
      url('./fonts/yeezy_tstar-bold-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.App {
  text-align: center;
  font-family: 'MATHERNAL Free';
  background-color: rgb(88,83,80);
  color: rgb(35,35,35);
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.btn-primary{
  background-color: rgb(88,83,80) !important;
  border: none;
}
.logo{
  align-self: flex-start;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 5vh;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: right;
  font-size: calc(5px + 2vmin);
  color: white;
}

.App-header .logo {
 padding-right: 75vw;
}

.dropdown-item{
  background-color: aliceblue;
  min-width: 150px;
  border: none;
}
.dropdown-item :hover{
  background-color:  rgb(35,35,35);
  min-width: 150px;
  border: none;
}

.dropdown-menu{
  background-color: aliceblue;
  text-align: left;
}

nav{
  display: flex;
}

main{
  display: grid;
  flex-direction: column;
  align-items: center;
  justify-content: right;
  padding-right: 10vw;
}

.App-link {
  color: #61dafb;
}
